/postgres_data/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# This gitignore file is used only internally for this repository,
# you should not use this in your own projects. Instead, navigate into
# an example folder and use the folder as the project root (it also contains a
# projects-specific .gitignore).

ode_modules

yarn-error.log
declaration
dist
build
tmp
pnpm-debug.log
.DS_Store

query-engine*
migration-engine*
schema-engine*
libquery_engine*
libquery-engine*
query_engine-windows.dll.node

*tmp.db
dist/

*.tsbuildinfo
.prisma
.pnpm-store

.vscode/*
!.vscode/launch.json.default
!.vscode/extensions.json
coverage

.eslintcache

.pnpm-debug.log

esm

dev.db
junit.xml
/output.txt

.envrc.local

.idea/

package.copy.json